button {
  background-color: rgb(0, 116, 58);
  border: none;
  border-radius: 24px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-style: bold;
  font-size: larger;
  transition: 250ms;
}

button:hover {
  opacity: 90%;
  cursor: pointer;
}

button:active {
  transition: 50ms;
  opacity: 40%;
}

.number-button {
  background-color: rgb(0, 184, 83);
  border: none;
  border-radius: 24px;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-style: bold;
  font-size: larger;
}